* {
    font-family: cursive;
  }
  .first_container,
  .second_container {
    padding: 10px 15% 1% 15%;
  }
  h1 {
    font-size: xx-large;
  }
  nav {
    display: flex;
    z-index: 1;
    margin-bottom: 5px;
    margin-left: 2%;
    align-items: center;
  }
  nav > button {
    background-color: #0066cc;
    margin-left: 4px;
    position: relative;
  }
  button > a {
    color: white;
    text-decoration: none;
    position: relative;
  }
  button:hover {
    background-color: red;
  }
  button {
    position: absolute;
    margin-top: 4px;
    width: 32%;
    margin-left: 50px;
  }
  aside > img {
    width: 100px;
    height: 100px;
  }
  .event_date {
    padding-left: 20px;
  }
  .event_detail {
    padding-left: 40px;
  }
  .image-variable-container {
    max-width: 100%;
    max-height: 380px;
  }
  .image-variable-container > img {
    width: 2000px;
    max-width: 100%;
    max-height: 300px;
  }
  .information > h2 {
    border: 1px solid black;
    text-align: center;
    margin: 0px;
  }
  .second_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 2px;
  }
  .second_container_content_container {
    padding-left: 20px;
  }
  /* RULES */

  .rules-h3, .rules-p{
    text-align: center;
  }
  ul{
    list-style: circle;
  }
  .rules-section{
    padding: 10px 32% 1% 32%;
  }
  .rules-special-p{
    text-indent: 1.5em;
  }